body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #EEEEEE;
}

a{
    color: #3ca2f3;
    text-decoration: none;
}

header {
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
	color: #fff;
    text-align: center;
    background-color: #77209c;
    background-image: linear-gradient(60deg, #442756, #7B1FA2);
	position: relative;
}


.centerit{
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    width: 100%;
}

.centerit a{
    display: inline-block;
}

.name{
    font-size: 32px;
    font-weight: 400;
    margin: 8px 0;
}

.subtitle{
    font-size: 24px;
    font-weight: 300;
    margin: 4px 0;
}

.download-link{
    color: #fff;
    width: 180px;
    height: 48px;
    background: #0078d7;
    float: left;
    border: 1px solid #2196F3;
    border-radius: 6px;
    margin: 12px;
    line-height: 49px;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
}

.download-link:active{
    background: #2376bc;
    border: 1px solid #1E88E5;
}

.download-link img{
    margin: 8px;
    float: left;
}

.apps{
    margin: auto;
    position: relative;
    display: inline-block;
}

#logo{
    margin-top: 24px;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 64px;
    -webkit-transition: border 350ms;
    transition: border 350ms;
}

#logo:hover{
    border: 2px solid rgba(255,255,255,1);
}

content{
    color: #212121;
}

.description{
    font-size: 24px;
    font-weight: 300;
    color: #212121;
    margin: 24px;
    text-align: center;
}

.colored-container{
    background-color: #0078d7;
}

.colored-container content{
    background: url("img/how-it-works.svg") no-repeat center;
    background-size: contain;
    height: 300px;
    margin: 32px;
}

.screenshot {
    width: 72vw;
    max-width: 2272px;
    margin-top: 12px;
}

.screenshot-android {
    width: 36vw;
    max-width: 540px;
    margin-top: 12px;
}

.italic{
    margin-bottom: 8px;
    display: block;
}

footer{
    background-color: #5f3b75;
    border-top: 1px solid #3b224a;
    padding: 12px;
    color: #ded6e4;
}

footer h3{
    margin: 4px 0;
    font-weight: 400;
}

footer p{
    margin: 4px 0;
    font-weight: 300;
}
